.ml-sm {
  margin-left: 1vw;
}
.ml-md {
  margin-left: 3vw;
}
.ml-lg {
  margin-left: 5vw;
}
.ml-xl {
  margin-left: 7vw;
}
.mr-sm {
  margin-right: 1vw;
}
.mr-md {
  margin-right: 3vw;
}
.mr-lg {
  margin-right: 5vw;
}
.mr-xl {
  margin-right: 7vw;
}
